body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #1D1B2D;
    color: #F0EFF5;
}

/* --- Servicios --- */
.section-servicios,
.section-videos{
  max-width: 1200px;
  margin: 60px auto;
  padding: 0 5vw;
}

.section-servicios h2,
.section-videos h2{
  font-size: 40px;
  margin-bottom: 40px;
}

.cards{
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card{
  background: #302E4A;
  border-radius: 12px;
  width: 220px;
  padding: 24px 18px;
  text-align: center;
}

.videos{
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.video{
  flex: 1 1 360px;
  max-width: 48%;
  background: #302E4A;
  border-radius: 30px;
  overflow: hidden;
  position: relative;
}

/*Estilos para el formulario*/
.seccion-formulario{
    width: 100%;
    color: #F0EFF5;
    padding: 40px 5vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
}

.cont-gral-formulario h2{
    font-size: 40px;
    margin-bottom: -8px;
}

.cont-gral-formulario p{
    font-size: 12px;
    margin-bottom: 20px;
}

.formulario{
    flex: 0 0 68%;
    max-width: 68%;
}

.formulario .campo{
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

.formulario .campo label{
    font-size: 14px;
}

.formulario .campo input{
    margin-bottom: 15px;
}

.imagenes{
    padding-top: 50px;
    text-align: right;
    flex: 0 0 40%;
    max-width: 40%;
}

.imagenes img{
    width: 400px;
    height: 400px;
}

/* Estilos para el footer */
.seccion-footer{
    width: 100%;
    background-color: #211F32;
    color:#F0EFF5;
    padding: 40px 20px;
}

.cont-gral-footer{
    display:flex;
    justify-content: space-between;
}

.footer-info{
    flex: 1;
    margin-left: 20px;
    max-width: 100px;
    font-size: 8px;
}

.footer-polit{
    margin-left: 20px;
    max-width: 150px;
    font-size: 12px;
}

.footer-redes {
    margin-right: 56px;
    max-width: 250px;
    font-size: 16px;
}

.footer-redes p{
    font-size: 12px;
}

.footer-redes img{
    display: flex;
    width: 16px;
    height: 16px;
}