body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #1D1B2D;
}

/*Estilos para el formulario*/
.seccion-formulario{
    width: 100%;
    color: #F0EFF5;
    padding: 40px 20px;
}

.cont-gral-formulario h2{
    font-size: 40px;
    margin-bottom: -8px;
}

.cont-gral-formulario p{
    font-size: 12px;
    margin-bottom: 20px;
}

.formulario .campo{
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

.formulario .campo label{
    font-size: 14px;
}

.formulario .campo input{
    margin-bottom: 15px;
}

/* Estilos para el footer */
.seccion-footer{
    width: 100%;
    background-color: #211F32;
    color:#F0EFF5;
    padding: 40px 20px;
}

.cont-gral-footer{
    display:flex;
    justify-content: space-between;
}

.footer-info{
    flex: 1;
    margin-left: 20px;
    max-width: 100px;
    font-size: 8px;
}

.footer-polit{
    margin-left: 20px;
    max-width: 150px;
    font-size: 12px;
}

.footer-redes {
    margin-left: 20px;
    max-width: 250px;
    font-size: 16px;
}

.footer-redes p{
    font-size: 12px;
}

.footer-redes img{
    display: flex;
    width: 16px;
    height: 16px;
}