/*General*/
*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #0f0e17;
}

/*Toolbar*/
.top-header{
    background-color: #0f0e17;
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}
.logo{
}
.menu-horizontal{
    list-style: none;
    display: flex;
    gap: 30px;
}
.menu-horizontal li{
}
.menu-horizontal li a{
    text-decoration: none;
    color: #f0eff5;
    background-color: #33304e;
    padding: 10px 60px;
    border-radius: 36px;
    font-weight: bold;
}

.menu-horizontal li a:hover{
    color: #000000;
}


/*Hero*/
.hero{
    color: #f0eff5;
    background-image: url("https://www.revistaautocrash.com/wp-content/uploads/2025/04/portada.png");
    height: 85vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding-left: 80px;
    position: relative;
}
.hero-content{
    padding: 15px;
    background: linear-gradient(
            rgba(15,14,23,.85) 100%,
            rgba(15,14,23,.55) 75%,
            rgba(15,14,23,0) 100%
    );
    border-radius: 15px;
}
.hero h1{
    font-size: 72px;
}
.hero h2{
    font-size: 32px;
}
.hero p{
    font-size: 16px;
}

/*Mision y vision*/
.mision-vision{
    color: #f0eff5;
    text-align: center;
    display: flex;
    gap: 30px;
    justify-content: space-around;
}
.mision-vision h2{
    font-size: 64px;
}
.mision, .vision{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mision-content, .vision-content{
    background-color: #45416A;
    border-radius: 24px;
    max-width: 500px;
    padding: 16px 18px;
}
.mision-content p, .vision-content p{
    margin-bottom: 16px;
    text-align: center;
    line-height: 1.6;
    font-size: 16px;
}

/*Reseñas*/
.reseña{
    color: #f0eff5;
    text-align: center;
}
.reseña h1{
    padding: 32px 0;
    justify-content: center;
    font-size: 64px;
}
.estadísticas{
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 0 64px;
}
.estadísticas h1{
    color: #72cc13;
}
.estadísticas h3{
    max-width: 150px;
}
.reseña-container{
    display: flex;
    gap: 64px;
    justify-content: center;
}
.reseña-content{
    background-color: #45416A;
    border-radius: 24px;
    max-width: 480px;
    padding: 16px 18px;
}
.text-content{

}