/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background-color: #0f0e17;
}


/* NAVBAR */
.topheader{
    position: fixed;
    top: 0;
    width: 100%;
    height: 85px;
    background-color: #0f0e17;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    z-index: 10;
}

.Menu-Horizontal{
    list-style: none;
    display: flex;
    gap: 30px;
}

.Menu-Horizontal li a{
    text-decoration: none;
    color: #ffffff;
    background-color: #2c2b3a;
    padding: 12px 22px;
    border-radius: 30px;
    transition: 0.3s;
    font-weight: bold;
}

.Menu-Horizontal li a:hover{
    background-color: #5c5b8c;
}


/* HERO */
.hero{
    height: 85vh;
    background-image: url("images/imageninicio.jpg"); /* Cambia por la imagen que tengas */
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding-left: 80px;
    position: relative;
}

.hero-overlay{
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.6);
}

.hero-content{
    position: relative;
    color: white;
    max-width: 550px;
}

.hero-content h1{
    font-size: 40px;
    font-weight: bold;
    
}

.hero-content p{
    margin: 20px 0;
    line-height: 1.5;
    font-size: 18px;
}

.btn-registro{
    background-color: #6949ff;
    padding: 15px 30px;
    border: none;
    border-radius: 25px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.btn-registro:hover{
    background-color: #836bff;
}


/* MISIÓN – VISIÓN */
.mision-vision{
    background-color: #191825;
    padding: 60px 40px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.mision, .vision{
    width: 40%;
    color: white;
}

.mision h2, .vision h2{
    font-size: 28px;
    margin-bottom: 10px;
}
